name: Rust

on:
  push:
    branches:
      - 'master'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true
          
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build"

      - name: Build
        run: cargo build --all --release && strip target/release/hemolymph-bot && mv target/release/hemolymph-bot target/release/hemolymph-bot_amd64

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: target/release/hemolymph-bot_amd64

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Stop systemctl service
        run: |
          ssh -o StrictHostKeyChecking=no root@hemolymph.net "sudo systemctl stop hemobot"
          
      - name: Push executable
        run: |
          rsync -avz --delete \
          -e "ssh -o StrictHostKeyChecking=no" \
          target/release/hemolymph-bot_amd64 root@hemolymph.net:/home/hemobot
          
      - name: Stop systemctl service
        run: |
          ssh -o StrictHostKeyChecking=no root@hemolymph.net "sudo systemctl start hemobot"
